<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="{% url 'home' %}">
                ChatApp
            </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="">
                            {{ user.username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            Log Out
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'login' %}">
                            Log In
                        </a>
                    </li>
                <li>
                        <a href="{% url 'register' %}">
                            Register
                        </a>
                    </li>

                {% endif %}
            </ul>

        </div>
    </div>
</nav>